.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($black, 0.45);
    border-radius: 5px;
    @include breakpoint($mobile-bp){
        padding: 1.5rem;
    }
}

.add-post__form {
    display: flex;
    align-items: flex-end;
}

.add-post__textarea {
    display: block;
    flex-grow: 1;
    height: 34px;
    width: 70%;
    overflow: hidden;
    font-family: inherit;
    border: none;
    background: transparent;
    resize: none;
    font-size: 1.5rem;
    color: $text;
    &::placeholder {
        color: $gray;
    }
}

.add-post__form-actions {
    width: 12rem;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    @include breakpoint($mobile-bp){
        width: 9rem;
    }
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: background-color 0.1s linear;
    @include breakpoint($mobile-bp){
        width: 3.4rem;
        height: 3.4rem;
    }
}

.add-post__send {
    margin-left: 1.5rem;
    background-color: $blue;
    &:hover {
        background-color: darken($blue, 6%);
    }
}
.add-post__file {
    background: $text url("../images/add-photo.svg") center no-repeat;
    input {
        display: none;
    }
    &:hover {
        background-color: darken($text, 6%);
    }
}
