.related{
    padding-bottom: .5rem;
    border-bottom: 1px solid $secondary;

}

.related__list-item{
    margin-bottom: 2.5rem;
}
.related__list{
    display: flex;
    flex-wrap: wrap;
}
.related__list-item{
    width: 50%;
    margin-bottom: 2.5rem;
}
.related__list-title{
    width: 90%;
    font-size: 1.4rem;
    color: #f3eba2;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}
.related__list-date{
    color: rgba($white, .5);
}